html,
body,
div,
p,
ul,
li{
    margin: 0;
    padding: 0;
    font-size: 13px;
}
i,
li{
    list-style: none;
    font-style: normal;
}
html,
body,
#app{
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    color: #333;
    background: $bgblue-color;
}


.avatar-icon{
    background: url('@/assets/images/img/avatar.png') no-repeat center center / contain;
    display: inline-block;
    width: 42px;
    height: 42px;
}
.search-icon{
    background: url('@/assets/images/img/search-icon.png') no-repeat center center / contain;
    display: inline-block;
    width: 18px;
    height: 18px;
}
.schedule-icon{
    background: url('@/assets/images/img/schedule-icon.png') no-repeat center center / contain;
}
.diet-icon{
    background: url('@/assets/images/img/diet-icon.png') no-repeat center center / contain;
}
.note-icon{
    background: url('@/assets/images/img/note-icon.png') no-repeat center center / contain;
}